ConcurrentLogHandler==0.9.1
DateTime==4.3.0
Flask==0.12.4 ; python_version < '3.0'
Flask==1.1.2 ; python_version > '3.0'
Flask-SQLAlchemy==2.4.4
Flask-RESTful==0.3.8
flask-discoverer==0.1.5
python-dateutil==2.8.1
python-json-logger==0.1.11 ; python_version < '3.0'
python-json-logger==2.0.1 ; python_version > '3.0'
requests==2.25.1
six>=1.15.0
setuptools>=40.0.0
SQLAlchemy==1.3.20
